.navigation {
  margin: 1rem 1.8rem;
}

.navigation__top {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  span {
    border: 0.75px solid white;
    padding: 1em;
    &:hover {
      border: 0.75px solid yellow;
    }
  }
}

.navigation__bottom {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  span {
    border: 0.75px solid white;
    padding: 1em;
    &:hover {
      border: 0.75px solid black;
    }
  }
}

span {
  display: inline-block;
  margin-left: 2rem;
  margin-top: 1rem;
}