.home__header {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.home__header__background {
  height: 100%;
  width: 40%;
  background-image: url("../../../assets/Home-Hero-Image.jpg");
  background-size: 150% 85%;
  background-repeat: no-repeat;
  background-position: right;
}

.home__header__container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.home__header__introduction {
  margin: 0 7rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home__buttons {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  font-size: 38px;
  margin: 0.1rem;
}

button {
  width: 30%;
  padding: 0.5em 1em;
  margin: 3%;
}

img {
  margin-top: 1rem;
  margin-bottom: 3rem;
}