@import "normalize";
@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "settings/variables";

body {
  font-family: $font-base;
}

section {
  height: 80vh;
}

button, input, textarea {
  &:focus, &:hover {
    outline: none;
  }
}

input, textarea {
  border: none;
  background: none;
}